<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login-Registration</title>
    <!-- bootstrap css cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- own css file -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- jquery link -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- socket link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <!-- own js file -->
    <script type="text/javascript" src="/scripts/script.js"></script>
</head>
<body class='container'>
    <div class="row">
        <h1>Login - Reg</h1>
    </div>
    <div class="row">
        <div class="col">
            <h3>New User Registration</h3>
            <form id="msg_form" action="/new" method="POST" class="m-1">
                <div class="form-row m-1">
                    <label for="first_name" class="col-3">First Name:</label>
                    <div class="col">
                        <input type="text" id="first_name" class="form-control" name="first_name">
                    </div>
                </div>
                <div class="form-row m-1">
                    <label for="last_name" class="col-3">Last Name:</label>
                    <div class="col">
                        <input type="text" id="last_name" class="form-control" name="last_name">
                    </div>
                </div>
                <div class="form-row m-1">
                    <label for="email" class="col-3">Email:</label>
                    <div class="col">
                        <input type="email" id="email" class="form-control" name="email">
                    </div>
                </div>
                <div class="form-row m-1">
                    <label for="date_of_birth" class="col-3">Date Of Birth:</label>
                    <div class="col">
                        <input type="date" id="date_of_birth" class="form-control" name="date_of_birth">
                    </div>
                </div>
                <div class="form-row m-1">
                    <label for="password" class="col-3">Password:</label>
                    <div class="col">
                        <input type="password" id="password" class="form-control" name="password">
                    </div>
                </div>
                <div class="form-row m-1">
                    <label for="confirm_password" class="col-3">Confirm Password:</label>
                    <div class="col">
                        <input type="confirm_password" id="confirm_password" class="form-control" name="confirm_password">
                    </div>
                </div>
                <div class="form-row d-flex justify-content-end m-2">
                    <button class="post_msg_btn btn btn-outline-primary">Submit</button>
                </div>
            </form>            
        </div>
        <div id="flash_msg" class="col-4">
            <% if(messages.post_quote) { %>
                <% for (var x of messages.post_quote) { %>
                 <h4 style="color: pink"><%= x %></h4>
                <% } %>
            <% } %>
        </div>    
    </div>
    <div class="row"></div>
</body> 
</html>