<div class="row">
    <div class="navigation col">
      <ul>
        <li>
          <a name="game_1" class="btn" (click)="activated" [routerLink]='["game", 1]'>
            Game 1
          </a>
        </li>
        <li>
          <a name="game_2" class="btn" (click)="activated" [routerLink]='["game", 2]'>
            Game 2
          </a>
        </li>
        <li>
          <a name="game_3" class="btn" (click)="activated" [routerLink]='["game", 3]'>
            Game 3
          </a>
        </li>
      </ul>
    </div>
  </div>