<div class="row">
  <div class="col">
    <div class="border rounded bg-secondary p-2 text-white" *ngIf="tasks">
      <h4>Here are the tasks:</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let task of tasks" (click)="getDetail(task)">
            {{task.title | titleize['a','the','for'] }} <span class="stat" *ngIf="task.completed">--completed</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <app-task-detail [task]="selectedTask" ></app-task-detail>
    <app-task-new (newTask)="onCreate($event)"></app-task-new>
  </div>
</div>

