<div class="border rounded bg-secondary p-2 text-white" *ngIf="task">
  <h4>Edit {{task.title | titlecase}}</h4>
  <form (submit)="updateTask(task)" #updateForm="ngForm">
    <div class="form-group">
      <input type="text" class="form-control" name="title" [(ngModel)]="task.title"/>
    </div>
    <div class="form-group">
      <textarea type="text" class="form-control" name="description" [(ngModel)]="task.description"></textarea>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" name="compeleted" [(ngModel)]="task.completed" value="true"/>
      <label>Completed</label>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-secondary btn-sm" (click)="hideEdit()">Hide</button>
      <button type="submit" class="btn btn-secondary btn-sm">Update</button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="deleteTask(task._id)">Delete</button>
    </div>
  </form>
</div>        
