<div class="row">
  <div class="col">
    <form (submit)="editAuthor(author)">
      <h1>
        {{ author?.name | titlecase }}
        <input type="text" name="name" [ngModel]="author?.name" placeholder="{{author?.name}}"/>
      </h1>
      <p>created: 
        {{ author?.created_at | date:'short' }}
      </p>
      <p>updated:
        {{ author?.updated_at | date:'short' }}
      </p>
      <div class="d-flex">
        <button type="submit">Edit</button>
        <div (click)="manageEvent($event)">
          <button (click)="deleteAuthor(author._id)">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>
