* {
    color: yellow;
}
body {
    background-image: url('/images/galaxy.jpg');
}
.btn-secondary {
    margin: 1rem;
    border-color: yellow;
    color: yellow;
}
#apiData {
    height: 250px;
    /* column-count: 5; */
    overflow: auto;
}
#placeholder li {
    list-style-type: none;
    font-size: 2em;
}